*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: auto;
}

nav{
    background-color: rgb(159, 48, 48);;
    height: 80px;
    width: 100%;
    top: 0px;
    position: fixed;
}

label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
}
    .promoSemana{
        font-size: 12px;
        padding-top: 50px;
        margin-top: 15%;
        width: 98%;
        margin-left: 1%;
        height: 200px;
        border-radius: 10px;
        border: 1px rgb(0, 0, 0) solid;
    }

    .promoSemana h1{
        text-align: center;
    }

    .rodape{
        height: 80px;
        color: white;
        font-size: 14px;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        background: #292929;
        padding-top: 30px;
        clear: both;
        margin-top: 15rem;
    }   